* {
margin: 0;
padding: 0;
box-sizing: border-box;

}
body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
 #product {
    
    width: 100%;
    height: auto;
    
    
    .card {
        margin: 20px;

        &--title {
            text-align: center;
            
            p{
                margin-bottom: 10px;
                opacity: 0.7;
          
            }
            h3 {
                margin-bottom: 10px;
            }
        }
    

    }
    
    .box{
        width: 35%;
        display: flex;
        justify-content: space-between;
        margin-right: 20px;
        
        &--card{
            
            



      
        .card-img {
           text-align: center;
           margin: 5px;
           
          
           
           img {
            width: 250px;
            height: auto;
            
            
              
           }

           
        }
        .info{
            text-align: center;
            
            
            
            
          }
      }
      
    }
    .icons{
    display: flex;
    gap: 2px;
    margin-left: 8px;
                margin-top: 8px;
                justify-content: center;
        .blue{

            background-color: blue;
            border: solid blue;
            height: 15px;
            width: 15px;
            border-radius: 18px;
                        }
          
                         .green {
                            

                                background-color: green;
                                border: solid green;
                                height: 15px;
                                width: 15px;
                                border-radius: 18px;
                                            }
                                            .orange {
                            

                                                background-color: orange;
                                                border: solid orange;
                                                height: 15px;
                                                width: 15px;
                                                border-radius: 18px;
                                                            }
                                                            .black {
                                                                
                            

                                                                    background-color: rgb(0, 0, 0);
                                                                    border: solid rgb(0, 0, 0);
                                                                    height: 15px;
                                                                    width: 15px;
                                                                    border-radius: 18px;
                                                                                }
                                                            
                       
                        }
    }
    

 }

